body {
  background: url("img/background.png") no-repeat;
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 80px;
}
.logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
}
.left-header-side {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
}
.header-icons {
  border-right: 1px solid white;
  margin-right: 30px;
  padding-right: 25px;
}
.calendarSvg path {
  fill: white;
}
.calendarSvg:hover path {
  fill: #3cb878;
}
.envelopeSvg {
  padding: 0 25px;
}
.envelopeSvg path {
  fill: white;
}
.envelopeSvg:hover path {
  fill: #3cb878;
}
.compassSvg path {
  fill: white;
}
.compassSvg:hover path {
  fill: #3cb878;
}
.logoLink:hover,
.logInLink:hover,
.signUpLink:hover {
  cursor: pointer;
  color: #3cb878;
}
.mainContent {
  max-width: 444px;
  margin: 0 auto;
}
.form {
  background-color: white;
  margin: 50px 0;
  position: relative;
}
.form-container {
  max-width: 324px;
  margin: 0 auto;
}
.shapePic {
  position: absolute;
  left: 0;
  top: 30px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.signUp {
  color: #434343;
  font-size: 20px;
}
.logIn {
  color: #3cb878;
}
.logIn:hover {
  text-decoration: underline;
  color: #01813f;
  text-decoration-color: #01813f;
}
.btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
.facebookBtn {
  background-color: #305db8;
  color: #fff;
  font-size: 16px;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
}
.facebookBtn:hover {
  background-color: #022263;
}
.facebookBtn .icon {
  display: inline-block;
  vertical-align: middle;
  border-right: 1px solid rgba(10, 22, 47, 0.1);
  padding: 0 20px 0 10px;
  margin-right: 20px;
}
.googleBtn {
  background-color: #df4a32;
  color: #fff;
  font-size: 16px;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
}
.googleBtn:hover {
  background-color: #ab1f09;
}
.googleBtn .icon {
  display: inline-block;
  vertical-align: middle;
  border-right: 1px solid rgba(43, 13, 9, 0.1);
  padding-right: 10px;
  margin-right: 30px;
}
.lines {
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 30px;
}
.lines p {
  position: relative;
  font-size: 14px;
  color: #848484;
}
.lines p::before {
  content: "";
  display: block;
  width: 150px;
  position: absolute;
  border-bottom: 1px solid rgba(19, 18, 18, 0.1);
  top: 50%;
}
.lines p::after {
  display: block;
  width: 150px;
  content: "";
  position: absolute;
  border-bottom: 1px solid rgba(14, 14, 14, 0.1);
  top: 50%;
  right: 5px;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  font-size: 14px;
  display: block;
  padding: 15px 0 15px 20px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  margin-top: 15px;
  width: 94%;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.checkSection {
  padding: 20px 0;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  vertical-align: middle;
}
input[type="checkbox"]:checked + label::before {
  content: "\2713";
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #3cb878;
  background-color: white;
  border: 1px solid #f2f2f2;
}
.checkbox a {
  color: #3cb878;
}
.checkbox a:hover {
  text-decoration: underline;
  color: #01813f;
  text-decoration-color: #01813f;
}
.createAccountBtn {
  background: rgba(60, 184, 120, 0.8);
  border-style: none;
  color: white;
  font-size: 16px;
  line-height: 16px;
  padding: 20px 100px;
  border-radius: 4px;
  margin-bottom: 40px;
  width: 100%;
  cursor: pointer;
}
.createAccountBtn:hover {
  background-color: #01813f;
}
